<form [formGroup]="loginForm" formGroup="login">
  <div class="formContainer">
    <h2>Login</h2>
      <div class="pergunta">
        <label for="usuario">Usuário:</label>
        <input type="text" formControlName="nome" #nome/>
      </div>

      <div class="pergunta">
        <label for="senha">Senha:</label>
        <input type="password" formControlName="senha" #senha/>
      </div>

      <div class="botoes">
        <button class="salvar" type="submit" (click)="logar(nome.value, senha.value)">Fazer login</button>
        <button class="limpar" type="submit" (click)="cadastrar(nome.value, senha.value)">Cadastrar</button>
      </div>
  </div>
</form>
