<app-header></app-header>

<div class="containerPrincipal">
  <div class="addTarefas">
    <h1>Adicionar tarefas</h1>

    <form [formGroup]="formulario">
      <div class="primeiraPergunta">
        <label for="nome">Título:</label>
        <input type="text"
        placeholder="Ex: Estudar Angular"
        formControlName="titulo"
        maxlength="70"
        />
      </div>

      <div class="pergunta">
        <label for="description">Descrição: </label>
        <input
          type="text"
          placeholder="Ex: Aprender sobre serviços e chamadas http"
          maxlength="200"
          formControlName="descricao"
        />
      </div>

      <button class="salvar" (click)="salvar()">Salvar</button>
      <button class="limpar" (click)="limpar()">Limpar</button>
  </form>
  </div>

  <div class="tarefas">
    <h1>Tarefas</h1>

    <ul>
      <li *ngFor="let tarefa of tarefasPaginadas">
        <h3 class="tituloTarefa">{{ tarefa.titulo }}</h3>
        <p class="descTarefa">{{ tarefa.descricao }}</p>
        <p class="dataTarefa">Criada em: {{ tarefa.dataCriacao | date:'dd/MM/yyyy'}}</p>
        <button class="editar" (click)="editarTarefa(tarefa.id)">Editar</button>
        <button class="excluir" (click)="excluir(tarefa.id)">Excluir</button>
        <app-editar-tarefa *ngIf="mostrarModal === tarefa.id" (fecharModal)="fecharModal()" [idTarefa]="tarefa.id" (atualizar)="onAtualizar($event)"></app-editar-tarefa>

      </li>
    </ul>

    <div class="paginacao">
      <button
        (click)="mudarPagina(paginaAtual - 1)"
        [disabled]="paginaAtual === 1"
      >
        Anterior
      </button>

      <button
        (click)="mudarPagina(paginaAtual + 1)"
        [disabled]="paginaAtual === totalPaginas()"
      >
        Próxima
      </button>
    </div>
  </div>
</div>


