<app-header></app-header>

<div class="containerPrincipal">
  <div class="addTarefas">
    <h1>Adicionar tarefas</h1>

    <div class="primeiraPergunta">
      <label for="nome">Título:</label>
      <input type="text" placeholder="Ex: Estudar Angular" />
    </div>

    <div class="pergunta">
      <label for="description">Descrição: </label>
      <input
        type="text"
        placeholder="Ex: Aprender sobre serviços e chamadas http"
      />
    </div>

    <button class="salvar">Salvar</button>
    <button class="limpar">Limpar</button>


  </div>

  <div class="tarefas">

    <h1>Tarefas</h1>

      <ul>
        <li>
          <h3 class="tituloTarefa">Estudar Node JS</h3>
          <p class="descTarefa">Preciso aprender como criar um servidor backend, conectar com o mySql e alimentar o lado do cliente com os dados</p>
          <button class="excluir">Excluir</button>
        </li>
      </ul>


  </div>
</div>
