$cor-fundo: #93a5d7;
$cor-hover: #5e71a0;
$cor-desativado: rgb(156, 154, 154);
$cor-excluir: rgb(251, 87, 87);
$cor-editar: #7d91c3;

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;

  .popUpContainer {
    display: flex;
    flex-direction: column;
    padding: 3em;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px;
    width: 400px;

    h2 {
      margin: 0 0 1em 0;
      color: #333;
      text-align: center;
    }

    .pergunta {
      display: flex;
      flex-direction: column;
      margin-top: 1em;

      label {
        margin-bottom: 0.5em;
        color: #555;
      }

      input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.5em;
        width: 90%;

        &:focus {
          border-color: $cor-fundo;
          outline: none;
        }

        &::placeholder {
          font-style: italic;
        }
      }
    }

    .botoes {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }

    button {
      margin-top: 2em;
      padding: 0.5em;
      border: none;
      border-radius: 5px;
      width: 30%;
      cursor: pointer;

      &.salvar {
        background-color: $cor-fundo;
        color: white;

        &:hover {
          background-color: $cor-hover;
        }
      }

      &.limpar {
        background-color: $cor-desativado;
        color: white;

        &:hover {
          background-color: darken($cor-desativado, 10%);
        }
      }
    }
  }
}
